<div class="container">
    <h1> 여기는 게시판 입니다. </h1>
    
    <form action="/update/<%= @update_view.id %>" method="post">
      number:<br>
      <input type="number" class="form-control" name="number" value="<%= @update_view.number %>">
      <br>
      title:<br>
      <input type="text" class="form-control" name="title" value="<%= @update_view.title %>">
      <br>
      content:<br>
      <textarea name="content" class="form-control" rows="4" cols="50" ><%= @update_view.content %></textarea>
      <br>
      <input type="submit" value="Submit">
    </form> 
    

</div>


